extends layout
block content
    body
        div(class='pg-opt')
            div(class='container')
                div(class='row')
                    div(class='col-md-6')
                        h2 Home
                    div(class='col-md-6')
                        ol(class='breadcrumb')
                            li
                                a(href='/account') O meu perfil
                            li
                                a(href='/logout') Logout
        div(class='container')
            div(class='row')
                div(class='col-md-6')
                    h2 Sobre nós
        section(class='slice white bt bb')
            div(class='wp-section ')
                div(class='container')
                    div(class='row')
                        div(class='col-md-6')
                            div(class='section-title-wr')
                                h3(class='section-title left')
                                    span

                            p Este projeto está inserido na cadeira de 5º ano, Projeto em Engenharia Informática,do curso Mestrado Integrado em Engenharia Informática.Esta cadeira tem dois objetivos principais: o desenvolvimento dum produto de softwaree sua análise do potencial de negócio.
                            br
                            p O UNILINE tem como objetivo facilitar o processo de encomendas das empresas têxtil oferecendo um produto de software baseado em Web que permite às empresas clientes acederema uma página web e de lá efetuarem os seus pedidos (encomendas).
                            br
                            p Inicialmente o foco do mercado foi a indústria têxtil, mas pode-se alargar para a indústriado calçado, malas e carteiras.


                        div(class='col-md-6')
                            div(class='section-title-wr')
                                h3(class='section-title left')
                                    span Como surgiu a ideia?

                            p A ideia deste projeto partiu das dificuldades encontradas na gestão de encomendas por parte de uma fábrica de acabamentos textéis sediada em Guimarães. Até ao momento na empresa têxtil em questão as encomendas são recebidas por email, o que implica estar uma pessoa responsávelpor ler os emails e a transforma-los numa encomenda propriamente dita (com todos os dados necessários).Depois de uma pesquisa de soluções que já poderiam existir, chegou-se à conclusão que ainda não existeno mercado nenhuma solução que pudesse resolver os problemas da empresa em questão.
                            br


        section( class='slice bg-base')
            div( class='wp-section')
                div( class='container')
                    div(class='row')
                        div(class='col-md-12')
                            div( class='text-center')
                                h4(class='c-white')
                                    i(class='fa fa-quote-left fa-3x')
                                h2(class='c-white') Crescimento da indústria têxtil
                                    div(class='testimonial-text c-white')
                                        p A produção industrial está a crescer na Europa. Portugal está no top 3 dos países que maior aumento registou.

                                        p(class='testimonial-author c-white') Jornal de Negócios, 2017
                            span(class='clearfix')