doctype html
html
head
    meta(charset='utf-8')
    meta(name='viewport', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='robots', content='index, follow')

    title= 'Sobre nós'

    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/fancybox/jquery.fancybox.css?v=2.1.5')


    link(rel='stylesheet', href='/stylesheets/css/global-style-flat.css')


    link(rel='stylesheet', href='/assets/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', href='/assets/owl-carousel/owl.theme.css')
    link(rel='stylesheet', href='/assets/sky-forms/css/sky-forms.css')
    link(rel='stylesheet', href='/stylesheets/css/estilo.css')

    link(rel='stylesheet', href='/assets/sky-forms/css/sky-forms-ie8.css')


    script(src='/javascripts/js/jquery.js')
    script(src='/javascripts/js/jquery-ui.min.js')

    body
        block content

        div(class='body-wrap')
            div(id='divStyleSwitcher' class='style-switcher-slidebar')
            a(href ='#' id='cmdShowStyleSwitcher' class='open-panel hidden-xs')
                i(class='fa fa-cog')
            div(class= 'switch-panel')
                div(class='panel-section')
                    div(class='title text-uppercase font-normal')
                        h4 Layout options

                    div(class='row')
                        div(class='col-xs-6')
                            div(class='form-group')
                                select(id='cmbLayoutStyle' class='form-control')
                                    option(value='1') Fluid
                                    option(value='2') Boxed
                        div(class='col-xs-6')
                            div(class='form-group')
                                label()
                                select(id='cmbLayoutColor' class='form-control')
                                    option(value='1') Light
                                    option(value='2') Dark

                    label(class='mt-10') Predefined body backgrounds
                    span(class='clearfix')
                    span(id='cmbBodyBg' class='color-switch')
                    a(href='#' id='cmdBodyBg1' class='body-bg-1 ttip' data-toggle='bottom' title='Solid color')
                    a(href='#' id='cmdBodyBg2' class='body-bg-2 ttip' data-toggle='bottom' title='Black Lozenge')
                    a(href='#' id='cmdBodyBg3' class='body-bg-3 ttip' data-toggle='bottom' title='Squairy Light')
                    a(href='#' id='cmdBodyBg4' class='body-bg-4 ttip' data-toggle='bottom' title='Dark Dotted')
                    a(href='#' id='cmdBodyBg5' class='body-bg-5 ttip' data-toggle='bottom' title='Skulls')
                    a(href='#' id='cmdBodyBg6' class='body-bg-6 ttip' data-toggle='bottom' title='Image Background - 1')
                    a(href='#' id='cmdBodyBg7' class='body-bg-7 ttip' data-toggle='bottom' title='Image Background - 2')
                    span( class='clearfix')

                    div( class='row')
                        div(class='col-xs-6')
                            div(class='form-group')
                                label() Section title
                                select( id='cmbSectionTitleStyle' class='form-control')
                                    option( value='1') Style 1  
                                    option(value='2') Style 2
                                    option(value='3') Style 3
                              
                        div(class='col-xs-6')
                            div(class='form-group')
                                label() Color:
                                select(id='cmbSectionTitleColor' class='form-control' disabled='disabled')
                                    option(value='1') Base
                                    option(value='2') Alt Base
                                    option(value='3') Light
                                    option(value='4') Dark
                              
            hr

            div(class='panel-section')
                h4( class='title text-uppercase font-normal') Header options

                div(class='row')
                    div(class='col-xs-6')
                        div(class='form-group')
                            label() Header:
                            select(id='cmbHeaderStyle' class='form-control')
                                option(value='2')Header 1: Default navbar
                                option(value='3')Header 2: Default navbar + Top header
                                option(value='1')Header 3: Header + Navbar
                                option(value='4')Header 4: Cover

                            //(option value='5')Header 1: Default + Mobile nav 2(/option)
                            //(option value='6')Header 2: Default + Top header + Mobile nav 2(/option)
                            //(option value='7')Header 3: Header + Navbar + Mobile nav 2(/option)
                            //(option value='8')Header 4: Cover(/option) -->

                    div(class='col-xs-6')
                        div(class='form-group')
                            label Top header color:
                            select(id='cmbTopHeaderColor' class='form-control' disabled='disabled')
                                option(value='1') Light
                                option(value='2') Dark

            div(class='panel-section')
                div(class='row')
                    div(class='col-xs-6')
                        div(class='form-group')
                            label Nav shadow
                            select(id='cmbNavShadow' class='form-control')
                                option(value='1') No
                                option(value='2') Yes

                    div(class='col-xs-6')
                        div(class='form-group')
                            label Dropdown arrow:
                            select(id='cmbNavDropdownArrow' class='form-control')
                                option(value='2') Yes
                                option(value='1') No


            hr

            div(class='panel-section')
                h4( class='title text-uppercase font-normal') Color options

                label Predefined colors
                 span (class='clearfix')
                 span class='color-switch')
                    a(href='#' id='cmdSchemeRed' class='color-red' title='Red') Red
                    a(href='#' id='cmdSchemeViolet' class='color-violet' title='Violet') Violet
                    a(href='#' id='cmdSchemeBlue' class='color-blue' title='Blue') Blue
                    a(href='#' id='cmdSchemeGreen' class='color-green' title='Green') Green
                    a(href='#' id='cmdSchemeYellow' class='color-yellow' title='Yellow') Yellow
                    a(href='#' id='cmdSchemeOrange' class='color-orange' title='Orange') Orange

            hr

            div(class='panel-section')
                h4(class='title')
                    span(class='text-uppercase font-normal') Special
                    a( href='#' class='pop' title='About customization' data-content='We created some examples that show you the multitude of options you have so you make this template as you wish. Customization is very easy and it is made in only one file.')
                        i(class='fa fa-question-circle')
                    label(class='badge base pull-right') New


                label Predefined scheme
                span(class='clearfix')
                span(class='color-switch')
                    a(href='#' id='cmdSchemeBW' class='color-bw ttip' data-toggle='top' title='Black & White') Black and white
                    a(href='#' id='cmdSchemeDark' class='color-dark ttip' data-toggle='top' title='Dark') Dark
                    a(href='#' id='cmdSchemeFlat' class='color-flat ttip' data-toggle='top' title='Flat') Flat


            div(class='panel-section mt-15 hide')
                a(href='#')
                    span Reset all applied styles
                br
                br


            <!-- MAIN CONTENT -->
        div(class='pg-opt')
        div(class='container')
            div(class='row')
                div class='col-md-6')
                    h2 Sobre nós



        section(class='slice white bt bb')
            div(class='wp-section ')
                div(class='container')
                    div(class='row')
                        div(class='col-md-6')
                            div(class='section-title-wr')
                                h3(class='section-title left')
                                    span

                            p Este projeto está inserido na cadeira de 5º ano, Projeto em Engenharia Informática,do curso Mestrado Integrado em Engenharia Informática.Esta cadeira tem dois objetivos principais: o desenvolvimento dum produto de softwaree sua análise do potencial de negócio.
                            br
                            p O UNILINE tem como objetivo facilitar o processo de encomendas das empresas têxtil oferecendo um produto de software baseado em Web que permite às empresas clientes acederema uma página web e de lá efetuarem os seus pedidos (encomendas).
                            br
                            p Inicialmente o foco do mercado foi a indústria têxtil, mas pode-se alargar para a indústriado calçado, malas e carteiras.


                        div(class='col-md-6')
                            div(class='section-title-wr')
                                h3(class='section-title left')
                                    span Como surgiu a ideia?

                            p A ideia deste projeto partiu das dificuldades encontradas na gestão de encomendas por parte de uma fábrica de acabamentos textéis sediada em Guimarães. Até ao momento na empresa têxtil em questão as encomendas são recebidas por email, o que implica estar uma pessoa responsávelpor ler os emails e a transforma-los numa encomenda propriamente dita (com todos os dados necessários).Depois de uma pesquisa de soluções que já poderiam existir, chegou-se à conclusão que ainda não existeno mercado nenhuma solução que pudesse resolver os problemas da empresa em questão.
                            br


        section( class='slice bg-base')
            div( class='wp-section')
                div( class='container')
                    div(class='row')
                        div(class='col-md-12')
                            div( class='text-center')
                                h4(class='c-white')
                                    i(class='fa fa-quote-left fa-3x')
                                h2(class='c-white') Crescimento da indústria têxtil
                                    div(class='testimonial-text c-white')
                                        p A produção industrial está a crescer na Europa. Portugal está no top 3 dos países que maior aumento registou.

                                        p(class='testimonial-author c-white') Jornal de Negócios, 2017
                            span(class='clearfix')

    footer(class='footer')
        div(class='container')
            div(class='row')
                div(class='col-md-3')
                    div(class='col')
                        h4 Contacte-nos
                        ul
                            li Universidade do Minho, Gualtar-Braga
                            li Telefone: +351 253 657 657 | Fax: +351 253 657 658
                            li Email:
                                a(href='mailto:unilineteam@gmail.com', title='Email Us')  unilineteam@gmail.com
                            li Skype:
                                a(href='skype:my.business?call', title='Skype us') UnilineSkype
                            li Gerir Encomendas é a nossa Arte.
                div(class='col-md-3')
                    div(class='col')
                        h4 Lista de Email's
                        p Increva-se aqui para receber noticias sobre as nossas novidades.
                        form(class='form-horizontal form-light')
                            div(class='input-group')
                                input(type='1text', class='form-control', placeholder='Your email address...')
                                span(class='input-group-btn')
                                    button(class='btn btn-base', type='button') Inscreva-se Já!
                div(class='col-md-3')
                    div(class='col col-social-icons')
                        h4 Siga-nos
                        a(href='#')
                            i(class='fa fa-facebook')
                        a(href='#')
                            i(class='fa fa-google-plus')
                        a(href='#')
                            i(class='fa fa-linkedin')
                        a(href='#')
                            i(class='fa fa-twitter')
                        a(href='#')
                            i(class='fa fa-skype')
                        a(href='#')
                            i(class='fa fa-pinterest')
                        a(href='#')
                            i(class='fa fa-youtube-play')
                        a(href='#')
                            i(class='fa fa-flickr')
                div(class='col-md-3')
                    div(class='col')
                        h4 Sobre Nós
                        p(class='no-margin') Uniline - Software de Gestão de Encomendas Teixteis.
                            br
                            br
                            a(href='#' class='btn btn-block btn-base btn-icon fa-check')
                                span Veja agora!
                        hr
            div(class='row' align='center')
                div(class='col-lg-9 copyright')
                    p 2017 © Uniline. Todos os direitos reservados.
                    a(href='#') Termos e Condições

script(src='/javascripts/js/modernizr.custom.js')
script(src='/assets/bootstrap/js/bootstrap.min.js')
script(src='/javascripts/js/jquery.mousewheel-3.0.6.pack.js')
script(src='/javascripts/js/jquery.easing.js')
script(src='/javascripts/js/jquery.metadata.js')
script(src='/javascripts/js/jquery.hoverup.js')
script(src='/javascripts/js/jquery.hoverdir.js')
script(src='/javascripts/js/jquery.stellar.js')


script(src='/assets/responsive-mobile-nav/js/jquery.dlmenu.js')
script(src='/assets/responsive-mobile-nav/js/jquery.dlmenu.autofill.js')


script(src='/assets/ui-kit/js/jquery.powerful-placeholder.min.js')
script(src='/assets/ui-kit/js/cusel.min.js')
script(src='/assets/sky-forms/js/jquery.form.min.js')
script(src='/assets/sky-forms/js/jquery.validate.min.js')
script(src='/assets/sky-forms/js/jquery.maskedinput.min.js')
script(src='/assets/sky-forms/js/jquery.modal.js')


script(src='/assets/hover-dropdown/bootstrap-hover-dropdown.min.js')
script(src='/assets/page-scroller/jquery.ui.totop.min.js')
script(src='/assets/mixitup/jquery.mixitup.js')
script(src='/assets/mixitup/jquery.mixitup.init.js')
script(src='/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5')
script(src='/assets/waypoints/waypoints.min.js')
script(src='/assets/milestone-counter/jquery.countTo.js')
script(src='/assets/easy-pie-chart/js/jquery.easypiechart.js')
script(src='/assets/social-buttons/js/rrssb.min.js')
script(src='/assets/nouislider/js/jquery.nouislider.min.js')
script(src='/assets/owl-carousel/owl.carousel.js')
script(src='/assets/bootstrap/js/tooltip.js')
script(src='/assets/bootstrap/js/popover.js')


script(src='/javascripts/js/wp.app.js')

script(src='/javascripts/js/html5shiv.js')
script(src='/javascripts/js/respond.min.js')



script(src='/javascripts/js/jquery.cookie.js')
script(src='/javascripts/js/wp.switcher.js')
script(type='text/javascript', src='/javascripts/js/wp.ga.js')

