extends layout

block content
    body 

        div(class='pg-opt')
            div(class='container')
                div(class='row')
                    div(class='col-md-6')
                        h2 Encomenda Efectuada
                    div(class='col-md-6')
                        ol(class='breadcrumb')
                            li
                                a(href='/home') Home
        section(class='slice bg-white')
            div(class='wp-section')
                div(class='container')
                    h3 Encomenda Submetida com SUCESSO!!
                    h5 Irá receber no seu email um comprovativo da encomenda.
                    P Obrigado por usar o UNILINE
                    br
                    br
                    a(href='/home' class='btn btn-base btn-icon btn-icon-center pull-center') Continuar