block content
  body
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/fancybox/jquery.fancybox.css?v=2.1.5')
    link(rel='stylesheet', href='/stylesheets/css/global-style-flat.css')
    link(rel='stylesheet', href='/assets/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', href='/assets/owl-carousel/owl.theme.css')
    link(rel='stylesheet', href='/assets/sky-forms/css/sky-forms.css')
    link(rel='stylesheet', href='/stylesheets/css/estilo.css')
    link(rel='stylesheet', href='/assets/sky-forms/css/sky-forms-ie8.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    div(class='inical-page')
      a(class='btn btn-base btn-icon btn-icon-center btn-lg' href='order' style='width: 300px; font-size:40px; text-align:center; height:80px; margin-top:350px; margin-left: 600px;') Entrar
      div(style="height:800px")

