extends layout

block content
  body 

    div(class='inical-page')
      a(class='btn btn-base btn-icon btn-icon-center' href='order' style='width: 150px; margin-top:400px; margin-left: 600px;;') Entrar
      br
      br
      br
      br
      br

