extends layout

block content
  h1= title
  p Welcome to #{title}

  div(class='inical-page')
  a(class='btn btn-base btn-icon btn-icon-center', href='login-register.pug', style='width: 150px; margin-top:449px; margin-left: 600px;') Entrar
  br
  br
  br
  br
  br
  br
  br
  br

