doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    body
        div(class="w3-panel w3-pale-red w3-leftbar w3-border-red" style="align:center")
            h2 Serviço temporariamente indisponivel!!
            p Por favor tente mais tarde!
