doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='robots', content='index, follow')

    title= title

    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/fancybox/jquery.fancybox.css?v=2.1.5')


    link(rel='stylesheet', href='/stylesheets/css/global-style-flat.css')


    link(rel='stylesheet', href='/assets/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', href='/assets/owl-carousel/owl.theme.css')
    link(rel='stylesheet', href='/assets/sky-forms/css/sky-forms.css')
    link(rel='stylesheet', href='/stylesheets/css/estilo.css')

    link(rel='stylesheet', href='/assets/sky-forms/css/sky-forms-ie8.css')



    script(src='/javascripts/js/estilojs.js')
    script(src='/javascripts/js/OpCompTecido.js')
    script(src='/javascripts/js/jquery.js')
    script(src='/javascripts/js/jquery-ui.min.js')

  body
    block content

    footer(class='footer')
        div(class='container')
            div(class='row')
                div(class='col-md-3')
                    div(class='col')
                        h4 Contacte-nos
                        ul
                            li Universidade do Minho, Gualtar-Braga
                            li Telefone: +351 253 657 657 | Fax: +351 253 657 658
                            li Email:
                                a(href='mailto:unilineteam@gmail.com', title='Email Us')  unilineteam@gmail.com
                            li Skype:
                                a(href='skype:my.business?call', title='Skype us') UnilineSkype
                            li Gerir Encomendas é a nossa Arte.
                div(class='col-md-3')
                    div(class='col')
                        h4 Lista de Email's
                        p Increva-se aqui para receber noticias sobre as nossas novidades.
                        form(class='form-horizontal form-light')
                            div(class='input-group')
                                input(type='1text', class='form-control', placeholder='Your email address...')
                                span(class='input-group-btn')
                                    button(class='btn btn-base', type='button') Inscreva-se Já!
                div(class='col-md-3')
                    div(class='col col-social-icons')
                        h4 Siga-nos
                        a(href='#')
                            i(class='fa fa-facebook')
                        a(href='#')
                            i(class='fa fa-google-plus')
                        a(href='#')
                            i(class='fa fa-linkedin')
                        a(href='#')
                            i(class='fa fa-twitter')
                        a(href='#')
                            i(class='fa fa-skype')
                        a(href='#')
                            i(class='fa fa-pinterest')
                        a(href='#')
                            i(class='fa fa-youtube-play')
                        a(href='#')
                            i(class='fa fa-flickr')
                div(class='col-md-3')
                    div(class='col')
                        h4 Sobre Nós
                        p(class='no-margin') Uniline - Software de Gestão de Encomendas Teixteis.
                            br
                            br
                            a(href='#' class='btn btn-block btn-base btn-icon fa-check')
                                span Veja agora!
                        hr
            div(class='row' align="center")
                div(class='col-lg-9 copyright')
                    p 2017 © Uniline. Todos os direitos reservados.
                    a(href='#') Termos e Condições

script(src='/javascripts/js/modernizr.custom.js')
script(src='/assets/bootstrap/js/bootstrap.min.js')
script(src='/javascripts/js/jquery.mousewheel-3.0.6.pack.js')
script(src='/javascripts/js/jquery.easing.js')
script(src='/javascripts/js/jquery.metadata.js')
script(src='/javascripts/js/jquery.hoverup.js')
script(src='/javascripts/js/jquery.hoverdir.js')
script(src='/javascripts/js/jquery.stellar.js')


script(src='/assets/responsive-mobile-nav/js/jquery.dlmenu.js')
script(src='/assets/responsive-mobile-nav/js/jquery.dlmenu.autofill.js')


script(src='/assets/ui-kit/js/jquery.powerful-placeholder.min.js')
script(src='/assets/ui-kit/js/cusel.min.js')
script(src='/assets/sky-forms/js/jquery.form.min.js')
script(src='/assets/sky-forms/js/jquery.validate.min.js')
script(src='/assets/sky-forms/js/jquery.maskedinput.min.js')
script(src='/assets/sky-forms/js/jquery.modal.js')


script(src='/assets/hover-dropdown/bootstrap-hover-dropdown.min.js')
script(src='/assets/page-scroller/jquery.ui.totop.min.js')
script(src='/assets/mixitup/jquery.mixitup.js')
script(src='/assets/mixitup/jquery.mixitup.init.js')
script(src='/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5')
script(src='/assets/waypoints/waypoints.min.js')
script(src='/assets/milestone-counter/jquery.countTo.js')
script(src='/assets/easy-pie-chart/js/jquery.easypiechart.js')
script(src='/assets/social-buttons/js/rrssb.min.js')
script(src='/assets/nouislider/js/jquery.nouislider.min.js')
script(src='/assets/owl-carousel/owl.carousel.js')
script(src='/assets/bootstrap/js/tooltip.js')
script(src='/assets/bootstrap/js/popover.js')


script(src='/javascripts/js/wp.app.js')

script(src='/javascripts/js/html5shiv.js')
script(src='/javascripts/js/respond.min.js')



script(src='/javascripts/js/jquery.cookie.js')
script(src='/javascripts/js/wp.switcher.js')
script(type='text/javascript', src='/javascripts/js/wp.ga.js')


