doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='robots', content='index, follow')

    title= title

    <!-- Essential styles -->
    link(rel='stylesheet', href='../public/assets/bootstrap/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='../public/font-awesome/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='../public/assets/fancybox/jquery.fancybox.css?v=2.1.5', media='screen')

    <!-- Boomerang styles -->
    link(id='wpStylesheet', type='text/css', href='../public/stylesheets/css/global-style-flat.css', rel='stylesheet', media='screen')

    <!-- Favicon -->
    link(href='run/public/images/images/favicon.png', rel='icon', type='image/png')

    <!-- Assets -->
    link(rel='stylesheet', href='../public/assets/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', href='../public/assets/owl-carousel/owl.theme.css')
    link(rel='stylesheet', href='../public/assets/sky-forms/css/sky-forms.css')
    link(rel='stylesheet', href='../public/stylesheets/css/estilo.css')
    <!--[if lt IE 9]>
    link(rel='stylesheet', href='../public/assets/sky-forms/css/sky-forms-ie8.css')
    <![endif]-->

    <!-- Required JS -->
    script(src='../public/javascripts/js/estilojs.js')
    script(src='../public/javascripts/js/OpCompTecido.js')
    script(src='../public/javascripts/js/jquery.js')
    script(src='../public/javascripts/js/jquery-ui.min.js')

    <!-- Page scripts -->

  body
    block content

    footer(class='footer')
        div(class='container')
            div(class='row')
                div(class='col-md-3')
                    div(class='col')
                        h4 Contacte-nos
                        ul
                            li Universidade do Minho, Gualtar-Braga
                            li Telefone: +351 253 657 657 | Fax: +351 253 657 658
                            li Email:
                                a(href='mailto:hello@example.com', title='Email Us') uniline_pt@hotmail.com
                            li Skype:
                                a(href='skype:my.business?call', title='Skype us') UnilineSkype
                            li Gerir Encomendas é a nossa Arte.
                div(class='col-md-3')
                    div(class='col')
                        h4 Lista de Email's
                        p Increva-se aqui para receber noticias sobre as nossas novidades.
                        form(class='form-horizontal form-light')
                            div(class='input-group')
                                input(type='1text', class='form-control', placeholder='Your email address...')
                                span(class='input-group-btn')
                                button(class='btn btn-base', type='button') Inscreva-se Já!
                div(class='col-md-3')
                    div(class='col col-social-icons')
                        h4 Siga-nos
                        a(href='#')
                            i(class='fa fa-facebook')
                        a(href='#')
                            i(class='fa fa-google-plus')
                        a(href='#')
                            i(class='fa fa-linkedin')
                        a(href='#')
                            i(class='fa fa-twitter')
                        a(href='#')
                            i(class='fa fa-skype')
                        a(href='#')
                            i(class='fa fa-pinterest')
                        a(href='#')
                            i(class='fa fa-youtube-play')
                        a href='#')
                            i(class='fa fa-flickr')
                div(class='col-md-3')
                    div(class='col')
                        h4 Sobre Nós
                        p(class='no-margin') Uniline - Software de Gestão de Encomendas Teixteis.
                        br
                        br
                        a(href='#' class='btn btn-block btn-base btn-icon fa-check')
                        span Tente Agora
                        hr
            div(class='row')
                div(class='col-lg-9 copyright')
                    p 2017 © Uniline. Todos os direitos reservados.
                    a(href='#') Termos e Condições
                    div(class='col-lg-3')
                        a href='http://www.webpixels.ro' title='Made with love by Web Pixels' target='_blank' class=')
                        img src='../public/images/images/uniline.png' alt='Web Pixels - Designing Forward | Logo' class='pull-right col-xs-5')

<!-- Essentials -->
script(src='../public/javascripts/js/modernizr.custom.js')
script(src='../public/assets/bootstrap/js/bootstrap.min.js')
script(src='../public/javascripts/js/jquery.mousewheel-3.0.6.pack.js')
script(src='../public/javascripts/js/jquery.easing.js')
script(src='../public/javascripts/js/jquery.metadata.js')
script(src='../public/javascripts/js/jquery.hoverup.js')
script(src='../public/javascripts/js/jquery.hoverdir.js')
script(src='../public/javascripts/js/jquery.stellar.js')

<!-- Boomerang mobile nav - Optional  -->
script(src='../public/assets/responsive-mobile-nav/js/jquery.dlmenu.js')
script(src='../public/assets/responsive-mobile-nav/js/jquery.dlmenu.autofill.js')

<!-- Forms -->
script(src='../public/assets/ui-kit/js/jquery.powerful-placeholder.min.js')
script(src='../public/assets/ui-kit/js/cusel.min.js')
script(src='../public/assets/sky-forms/js/jquery.form.min.js')
script(src='../public/assets/sky-forms/js/jquery.validate.min.js')
script(src='../public/assets/sky-forms/js/jquery.maskedinput.min.js')
script(src='../public/assets/sky-forms/js/jquery.modal.js')

<!-- Assets -->
script(src='../public/assets/hover-dropdown/bootstrap-hover-dropdown.min.js')
script(src='../public/assets/page-scroller/jquery.ui.totop.min.js')
script(src='../public/assets/mixitup/jquery.mixitup.js')
script(src='../public/assets/mixitup/jquery.mixitup.init.js')
script(src='../public/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5')
script(src='../public/assets/waypoints/waypoints.min.js')
script(src='../public/assets/milestone-counter/jquery.countTo.js')
script(src='../public/assets/easy-pie-chart/js/jquery.easypiechart.js')
script(src='../public/assets/social-buttons/js/rrssb.min.js')
script(src='../public/assets/nouislider/js/jquery.nouislider.min.js')
script(src='../public/assets/owl-carousel/owl.carousel.js')
script(src='../public/assets/bootstrap/js/tooltip.js')
script(src='../public/assets/bootstrap/js/popover.js')

<!-- Boomerang App JS -->
script(src='../public/javascripts/js/wp.app.js')
<!--[if lt IE 9]>
script(src='../public/javascripts/js/html5shiv.js')
script(src='../public/javascripts/js/respond.min.js')
<![endif]--)

<!-- Temp -- You can remove this once you started to work on your project --)
script(src='../public/javascripts/js/jquery.cookie.js')
script(src='../public/javascripts/js/wp.switcher.js')
script(type='text/javascript', src='../public/javascripts/js/wp.ga.js')


