extends layout
block content
    div(class='pg-opt')
        div(class='container')
            div(class='row')
                div(class='col-md-6')
                    h2 Home
                div(class='col-md-6')
                    ol(class='breadcrumb')
                        li
                            a(href='/account') O meu perfil
                        li
                            a(href='/logout') Logout

    .span9
        .content
            .module
                .module-head
                    center
                        h2 Informação Encomenda
                .module-body
                    center
                        table(class="w3-table w3-bordered w3-card-4" style="width:50%; margin-left:20%; margin-right:20%")
                            .profile-tab-content.tab-content(style="margin-top: 20px")
                                -var array = [];
                                -var array2 = [];
                                -for(var i=0; i<steps.length; i++)
                                    tr
                                        td
                                            h3 #{steps[i]}
                                        -array = stepService.get(steps[i]);
                                        -for(var k=0; k<array.length;k++)
                                            tr
                                                td
                                                    p(class = "profile-brief") #{array[k]}
                                                    -var option
                                                    -if(array[k].indexOf(':')!=-1)
                                                        -service = array[k].slice(0,array[k].indexOf(':'))
                                                        -array2 = serviceOption.get(service);
                                                        -if(array2!=null)
                                                            -for(var j=0; j<array2.length;j++)
                                                                td
                                                                    p #{array2[j]}
                                                    -else
                                                            -service = array[k];
                                                            -array2 = serviceOption.get(service);
                                                            -if(array2!=null)
                                                                -for(var j=0; j<array2.length;j++)
                                                                    td
                                                                        p(style="text-indent:35px; ")
                                                                            |&rarr; #{array2[j]}
                        br
                center
                    a(class="w3-button w3-large w3-theme-d4 w3-center" href="/" title="voltar")
                        i(class="fa fa-home")
                        | Voltar
                    br
                    br
                    br