extends layout

block content
    body 

        div(class='pg-opt')
            div(class='container')
                div(class='row')
                    div(class='col-md-6')
                        h2 Definição do Produto
                    div(class='col-md-6')
                        ol(class='breadcrumb')
                            li
                                a(href='/home') Home
                            li
                                a(href='/logout') Logout

        section(class='slice bg-white')
            div(class='wp-section')
                div(class='container')

                    ol(class='progtrckr hidden-xs' data-progtrckr-steps='7')
                        li(class='progtrckr-done' id='step0') Inicio de Sessão
                        li(class='progtrckr-todo' id='step1') Definição do Produto
                        li(class='progtrckr-todo' id='step2') Preparação
                        li(class='progtrckr-todo' id='step3') Tinturaria
                        li(class='progtrckr-todo' id='step4') Acabamento
                        li(class='progtrckr-todo' id='step5') Embalagem
                        li(class='progtrckr-todo' id='step6') Prazos e Moradas
                    div(class='row')
                        div(class='wp-block default user-form')
                            div(class='form-body')
                                form(action='/prodef' id='frmProdDef' class='sky-form' method='post' enctype='multipart/form-data')
                                    fieldset(class='no-padding')
                                        h1 Definição do Produto
                                        hr
                                        h2 Composição
                                        div(class='row')
                                            div(class='col-xs-6')
                                                div(class='form-group')
                                                    label(class='select')
                                                        select(name='CompNome' id='CompNome' onchange='compNome(), listaPonto(), containsPoli()')
                                                            option(value='0' selected='' disabled='') Nome
                                                            option(value='1') ANARRUG
                                                            option(value='2') BRIM
                                                            option(value='3') CAMBRAIA
                                                            option(value='4') CETIM
                                                            option(value='5') CHAMOI
                                                            option(value='6') CHARMEUS
                                                            option(value='7') CHENILL
                                                            option(value='8') CHIFFO
                                                            option(value='9') COTTO
                                                            option(value='10') CREP
                                                            option(value='11') CREPIN
                                                            option(value='12') CRETON
                                                            option(value='13') DIOLEN
                                                            option(value='14') ESCALIN
                                                            option(value='15') FELTR
                                                            option(value='16') FIL
                                                            option(value='17') FLANEL
                                                            option(value='18') FUSTÃ
                                                            option(value='19') GABARDIN
                                                            option(value='20') GAZA
                                                            option(value='21') GORGURÃ
                                                            option(value='22') JACQUAR
                                                            option(value='23') JEAN
                                                            option(value='24') JERSE
                                                            option(value='25') JUT
                                                            option(value='26') LAIS
                                                            option(value='27') LAM
                                                            option(value='28') LINHÃ
                                                            option(value='29') LINH
                                                            option(value='30') LOURE
                                                            option(value='31') MICROVISCOS
                                                            option(value='32') MICROFIBR
                                                            option(value='33') MICROTUL
                                                            option(value='34') MORI
                                                            option(value='35') MUSSELIN
                                                            option(value='36') NYLO
                                                            option(value='37') ORGANZ
                                                            option(value='38') OXFOR
                                                            option(value='39') PERCA
                                                            option(value='40') PIQUE
                                                            option(value='41') POPELIN
                                                            option(value='42') SARJ
                                                            option(value='43') SED
                                                            option(value='44') SHANTUN
                                                            option(value='45') TAC-TE
                                                            option(value='46') TAFET
                                                            option(value='47') TERGA
                                                            option(value='48') TIE-DY
                                                            option(value='49') TN
                                                            option(value='50') TRICOLE
                                                            option(value='51') TRICOLIN
                                                            option(value='52') TUNIL
                                                            option(value='53') TWEE
                                                            option(value='54') VELUDIN
                                                            option(value='55') VELUD
                                                            option(value='56') VISCOFAILL
                                                            option(value='57') VISCOS
                                                            option(value='58') VOI
                                                            option(value='59') AIRSTREC
                                                            option(value='60') DRY FI
                                                            option(value='61') ENERG
                                                            option(value='62') FORR
                                                            option(value='63') HELANC
                                                            option(value='64') LIGANE
                                                            option(value='65') LENAT
                                                            option(value='66') MALHA
                                                            option(value='67') MOLETO
                                                            option(value='68') TUL
                                                            option(value='69') VISCOLYC
                                            div(class='col-xs-6')
                                                div(class='form-group')
                                                    label(class='select')
                                                        select(name='CompComp' id='CompComp' onchange='containsPoli()')
                                                            option(value='0' selected='' disabled='') Composiçã
                                        hr
                                        hr
                                        h2 Ponto
                                        div(class='row')
                                            div(class='col-md-6')
                                                div(class='form-group')
                                                    label(class='select')
                                                        select(name='OpPonto' id='OpPonto')
                                                            option(value='0' selected='' disabled='') Ponto
                                        hr
                                        hr
                                        h2 Peso, Lagura e Quantidade
                                        div(class='row')
                                            section(class='col-xs-2')
                                                label Peso do tecido
                                                label(class='input')
                                                    input(type='number' name='peso' placeholder='Peso' min='50' max='500')
                                                    p g/m
                                            section(class='col-xs-2')
                                                label largura inicial do tecido
                                                label(class='input')
                                                    input(type='number' name='largurai' placeholder='Largura Inicial' min='50' max='380')
                                                    p m2
                                            section(class='col-xs-2')
                                                label largura final do tecido
                                                label(class='input')
                                                    input(type='number' name='larguraf' placeholder='Largura Final' min='50' max='380')
                                                    p m2
                                            section(class='col-xs-4')
                                                label Quantidade de Tecido a Trabalhar
                                                label(class='input')
                                                    input(type='text' name='qunatidade' placeholder='Quantidade'  onchange='updateStepone()')
                                            section(class='col-xs-1')
                                                label
                                                label(class='select')
                                                select(name='QuantUnit' id='QuantUnit')
                                                                    option(value='0' selected='') T
                                                                    option(value='1') K
                                                                    option(value='2') g
                                                                    option(value='3') mg
                                        hr
                                        hr
                                        h2 Caderno de Encargos
                                        div(class='row')
                                            section(class='textarea')
                                                label(class='textarea')
                                                    textarea(rows='3' name='info' placeholder='Informação Adicional')
                                        hr
                                        hr
                                        h2 Preparação
                                        div(class='row')
                                            div(class='col-xs-3')
                                                label(class='checkbox')
                                                    input(type='checkbox' name='gazar'  onchange='updateSteptwo()')
                                                    i
                                                    p Gazar
                                            div(class='col-xs-3' id='branquearg')
                                                label(class='checkbox')
                                                    input(type='checkbox' name='branquear' id='branquear' onchange='changeOpone(), updateSteptwo()')
                                                    i
                                                    p Branquear
                                            div(class='col-xs-3')
                                                label(class='checkbox')
                                                    input(type='checkbox' name='lavar' id='lavar' onchange='changeOponed(), updateSteptwo()')
                                                    i
                                                    p Lavar
                                            div(class='col-xs-3')
                                                label(class='checkbox')
                                                    input(type='checkbox' name='mercerizar' id='mercerizar' onchange='updateSteptwo()')
                                                    i
                                                    p Mercerizar
                                        hr
                                        hr
                                        h2 Tinturaria
                                        div(class='row' id='tintasg')
                                            div(class='col-xs-3' )
                                                label(class='checkbox')
                                                    input(type='checkbox' name='Reativos' id='Reativos'  onchange='updateSteptree(), changetintd()')
                                                    i
                                                    p Reativo
                                            div(class='col-xs-3')
                                                label(class='checkbox')
                                                    input(type='checkbox' name='Cubas' id='Cubas' onchange='changetintdd(), updateSteptree()')
                                                    i
                                                    p Cuba
                                            div(class='col-xs-3')
                                                label(class='checkbox')
                                                    input(type='checkbox' name='Pigmentos' id='Pigmentos' onchange='updateSteptree(), changetintddd()')
                                                    i
                                                    p Pigmentos
                                        div(class='row')
                                            section(class='col-xs-5')
                                                label Panton
                                                label(class='input')
                                                    input(type='text' name='pantone' placeholder='Inisira aqui o codigo do Pantone que quer aplicar como cor' onchange='updateSteptree')
                                        hr
                                        hr
                                        h2 Acabamentos
                                            div(class='row')
                                                div(class='col-xs-2')
                                                    label(class='checkbox')
                                                        input(type='checkbox' name='secar' id='secar' onchange='updateStepfor(), changeacab()')
                                                        i
                                                        p Secar
                                                div(class='col-xs-2')
                                                    label(class='checkbox')
                                                        input(type='checkbox' name='acabar' id='acabar' onchange='updateStepfor(), changeacabz()')
                                                        i
                                                        p Acabar
                                                div(class='col-xs-2')
                                                    label(class='checkbox')
                                                        input(type='checkbox' name='largura' onchange='updateStepfor()')
                                                        i
                                                        p Largura
                                                div(class='col-xs-2')
                                                    label(class='checkbox')
                                                        input(type='checkbox' name='calandar' id='calandar' onchange='updateStepfor()')
                                                        i
                                                        p Calandar
                                                        input(type='checkbox' name='calandq' id='calandq' onchange='changecaland(), updateStepfor()')
                                                        i
                                                        p Q
                                                        input(type='checkbox' name='calandf' id='calandf' onchange='changecaland(), updateStepfor()')
                                                        i
                                                        p F
                                                div(class='col-xs-2')
                                                    label(class='checkbox')
                                                        input(type='checkbox' name='sanf' id='sanf' onchange='updateStepfor()')
                                                        i
                                                        p Sanfonizar
                                                div(class='col-xs-2')
                                                    label(class='checkbox')
                                                        input(type='checkbox' name='tumb' id='tumb' onchange='updateStepfor()')
                                                        i
                                                        p Tumbler

                                            hr
                                            hr
                                            h2 Embalagem
                                            h4 Enfestar
                                            div(class='row')
                                                div(class='col-xs-2')
                                                    label(class='checkbox')
                                                        input(type='checkbox' name='em' id='em' onchange='updateStepfiv()')
                                                        i
                                                        p EM
                                                div(class='col-xs-2')
                                                    label(class='checkbox')
                                                        input(type='checkbox' name='ei' id='ei' onchange='updateStepfiv()')
                                                        i
                                                        p Ei
                                                div(class='col-xs-2')
                                                    label(class='checkbox')
                                                        input(type='checkbox' name='rm' id='rm' onchange='updateStepfiv()')
                                                        i
                                                        RM
                                                section(class='col-xs-4')
                                                    label(class='input')
                                                        input(type='number' name='quantenf' placeholder='metros por peça'  min='1' onchange='updateStepfiv()')
                                            h4 Enrolar
                                            div(class='row')
                                                section(class='col-xs-4')
                                                    label(class='input')
                                                        input(type='number' name='quantenr' placeholder='metros por peça'  min='1' onchange='updateStepfiv()')
                                            hr
                                            br
                                            hr
                                            h1 Morada e prazo de entrega
                                            h2 Morada
                                            div(class='row')
                                                section(class='col-xs-6')
                                                    label(class='label') Empresa
                                                    label(class='input')
                                                        i(class='icon-append fa fa-building')
                                                        input(type='text' name='email' placeholder='')
                                                section(class='col-xs-6')
                                                    label(class='label') Contacto Telefonico
                                                    label(class='input')
                                                        i(class='icon-append fa fa-phone')
                                                        input(type='tel' name='phone' placeholder='')
                                            div(class='row')
                                                section(class='col-xs-4')
                                                    label(class='select')
                                                        select(name='country')
                                                            option(value='0' selected=' disabled=') País
                                                            option(value='AF') Afghanistan
                                                            option(value='AX') Åland Islands
                                                            option(value='AL') Albania
                                                            option(value='DZ') Algeria
                                                            option(value='AS') American Samoa
                                                            option(value='AD') Andorra
                                                            option(value='AO') Angola
                                                            option(value='AI') Anguilla
                                                            option(value='AQ') Antarctica
                                                            option(value='AG') Antigua and Barbuda
                                                            option(value='AR') Argentina
                                                            option(value='AM') Armenia
                                                            option(value='AW') Aruba
                                                            option(value='AU') Australia
                                                            option(value='AT') Austria
                                                            option(value='AZ') Azerbaijan
                                                            option(value='BS') Bahamas
                                                            option(value='BH') Bahrain
                                                            option(value='BD') Bangladesh
                                                            option(value='BB') Barbados
                                                            option(value='BY') Belarus
                                                            option(value='BE') Belgium
                                                            option(value='BZ') Belize
                                                            option(value='BJ') Benin
                                                            option(value='BM') Bermuda
                                                            option(value='BT') Bhutan
                                                            option(value='BO') Bolivia, Plurinational State of
                                                            option(value='BQ') Bonaire, Sint Eustatius and Saba
                                                            option(value='BA') Bosnia and Herzegovina
                                                            option(value='BW') Botswana
                                                            option(value='BV') Bouvet Island
                                                            option(value='BR') Brazil
                                                            option(value='IO') British Indian Ocean Territory
                                                            option(value='BN') Brunei Darussalam
                                                            option(value='BG') Bulgaria
                                                            option(value='BF') Burkina Faso
                                                            option(value='BI') Burundi
                                                            option(value='KH') Cambodia
                                                            option(value='CM') Cameroon
                                                            option(value='CA') Canada
                                                            option(value='CV') Cape Verde
                                                            option(value='KY') Cayman Islands
                                                            option(value='CF') Central African Republic
                                                            option(value='TD') Chad
                                                            option(value='CL') Chile
                                                            option(value='CN') China
                                                            option(value='CX') Christmas Island
                                                            option(value='CC') Cocos (Keeling) Islands
                                                            option(value='CO') Colombia
                                                            option(value='KM') Comoros
                                                            option(value='CG') Congo
                                                            option(value='CD') Congo, the Democratic Republic of the
                                                            option(value='CK') Cook Islands
                                                            option(value='CR') Costa Rica
                                                            option(value='CI') Côte d'Ivoire
                                                            option(value='HR') Croatia
                                                            option(value='CU') Cuba
                                                            option(value='CW') Curaçao
                                                            option(value='CY') Cyprus
                                                            option(value='CZ') Czech Republic
                                                            option(value='DK') Denmark
                                                            option(value='DJ') Djibouti
                                                            option(value='DM') Dominica
                                                            option(value='DO') Dominican Republic
                                                            option(value='EC') Ecuador
                                                            option(value='EG') Egypt
                                                            option(value='SV') El Salvador
                                                            option(value='GQ') Equatorial Guinea
                                                            option(value='ER') Eritrea
                                                            option(value='EE') Estonia
                                                            option(value='ET') Ethiopia
                                                            option(value='FK') Falkland Islands (Malvinas)
                                                            option(value='FO') Faroe Islands
                                                            option(value='FJ') Fiji
                                                            option(value='FI') Finland
                                                            option(value='FR') France
                                                            option(value='GF') French Guiana
                                                            option(value='PF') French Polynesia
                                                            option(value='TF') French Southern Territories
                                                            option(value='GA') Gabon
                                                            option(value='GM') Gambia
                                                            option(value='GE') Georgia
                                                            option(value='DE') Germany
                                                            option(value='GH') Ghana
                                                            option(value='GI') Gibraltar
                                                            option(value='GR') Greece
                                                            option(value='GL') Greenland
                                                            option(value='GD') Grenada
                                                            option(value='GP') Guadeloupe
                                                            option(value='GU') Guam
                                                            option(value='GT') Guatemala
                                                            option(value='GG') Guernsey
                                                            option(value='GN') Guinea
                                                            option(value='GW') Guinea-Bissau
                                                            option(value='GY') Guyana
                                                            option(value='HT') Haiti
                                                            option(value='HM') Heard Island and McDonald Islands
                                                            option(value='VA') Holy See (Vatican City State)
                                                            option(value='HN') Honduras
                                                            option(value='HK') Hong Kong
                                                            option(value='HU') Hungary
                                                            option(value='IS') Iceland
                                                            option(value='IN') India
                                                            option(value='ID') Indonesia
                                                            option(value='IR') Iran, Islamic Republic of
                                                            option(value='IQ') Iraq
                                                            option(value='IE') Ireland
                                                            option(value='IM') Isle of Man
                                                            option(value='IL') Israel
                                                            option(value='IT') Italy
                                                            option(value='JM') Jamaica
                                                            option(value='JP') Japan
                                                            option(value='JE') Jersey
                                                            option(value='JO') Jordan
                                                            option(value='KZ') Kazakhstan
                                                            option(value='KE') Kenya
                                                            option(value='KI') Kiribati
                                                            option(value='KP') Korea, Democratic People's Republic of
                                                            option(value='KR') Korea, Republic of
                                                            option(value='KW') Kuwait
                                                            option(value='KG') Kyrgyzstan
                                                            option(value='LA') Lao People's Democratic Republic
                                                            option(value='LV') Latviach
                                                            option(value='LB') Lebanon
                                                            option(value='LS') Lesotho
                                                            option(value='LR') Liberia
                                                            option(value='LY') Libya
                                                            option(value='LI') Liechtenstein
                                                            option(value='LT') Lithuania
                                                            option(value='LU') Luxembourg
                                                            option(value='MO') Macao
                                                            option(value='MK') Macedonia, the former Yugoslav Republic of
                                                            option(value='MG') Madagascar
                                                            option(value='MW') Malawi
                                                            option(value='MY') Malaysia
                                                            option(value='MV') Maldives
                                                            option(value='ML') Mali
                                                            option(value='MT') Malta
                                                            option(value='MH') Marshall Islands
                                                            option(value='MQ') Martinique
                                                            option(value='MR') Mauritania
                                                            option(value='MU') Mauritius
                                                            option(value='YT') Mayotte
                                                            option(value='MX') Mexico
                                                            option(value='FM') Micronesia, Federated States of
                                                            option(value='MD') Moldova, Republic of
                                                            option(value='MC') Monaco
                                                            option(value='MN') Mongolia
                                                            option(value='ME') Montenegro
                                                            option(value='MS') Montserrat
                                                            option(value='MA') Morocco
                                                            option(value='MZ') Mozambique
                                                            option(value='MM') Myanmar
                                                            option(value='NA') Namibia
                                                            option(value='NR') Nauru
                                                            option(value='NP') Nepal
                                                            option(value='NL') Netherlands
                                                            option(value='NC') New Caledonia
                                                            option(value='NZ') New Zealand
                                                            option(value='NI') Nicaragua
                                                            option(value='NE') Niger
                                                            option(value='NG') Nigeria
                                                            option(value='NU') Niue
                                                            option(value='NF') Norfolk Island
                                                            option(value='MP') Northern Mariana Islands
                                                            option(value='NO') Norway
                                                            option(value='OM') Oman
                                                            option(value='PK') Pakistan
                                                            option(value='PW') Palau
                                                            option(value='PS') Palestinian Territory, Occupied
                                                            option(value='PA') Panama
                                                            option(value='PG') Papua New Guinea
                                                            option(value='PY') Paraguay
                                                            option(value='PE') Peru
                                                            option(value='PH') Philippines
                                                            option(value='PN') Pitcairn
                                                            option(value='PL') Poland
                                                            option(value='PT') Portugal
                                                            option(value='PR') Puerto Rico
                                                            option(value='QA') Qatar
                                                            option(value='RE') Réunion
                                                            option(value='RO') Romania
                                                            option(value='RU') Russian Federation
                                                            option(value='RW') Rwanda
                                                            option(value='BL') Saint Barthélemy
                                                            option(value='SH') Saint Helena, Ascension and Tristan da Cunha
                                                            option(value='KN') Saint Kitts and Nevis
                                                            option(value='LC') Saint Lucia
                                                            option(value='MF') Saint Martin (French part)
                                                            option(value='PM') Saint Pierre and Miquelon
                                                            option(value='VC') Saint Vincent and the Grenadines
                                                            option(value='WS') Samoa
                                                            option(value='SM') San Marino
                                                            option(value='ST') Sao Tome and Principe
                                                            option(value='SA') Saudi Arabia
                                                            option(value='SN') Senegal
                                                            option(value='RS') Serbia
                                                            option(value='SC') Seychelles
                                                            option(value='SL') Sierra Leone
                                                            option(value='SG') Singapore
                                                            option(value='SX') Sint Maarten (Dutch part)
                                                            option(value='SK') Slovakia
                                                            option(value='SI') Slovenia
                                                            option(value='SB') Solomon Islands
                                                            option(value='SO') Somalia
                                                            option(value='ZA') South Africa
                                                            option(value='GS') South Georgia and the South Sandwich Islands
                                                            option(value='SS') South Sudan
                                                            option(value='ES') Spain
                                                            option(value='LK') Sri Lanka
                                                            option(value='SD') Sudan
                                                            option(value='SR') Suriname
                                                            option(value='SJ') Svalbard and Jan Mayen
                                                            option(value='SZ') Swaziland
                                                            option(value='SE') Sweden
                                                            option(value='CH') Switzerland
                                                            option(value='SY') Syrian Arab Republic
                                                            option(value='TW') Taiwan, Province of China
                                                            option(value='TJ') Tajikistan
                                                            option(value='TZ') Tanzania, United Republic of
                                                            option(value='TH') Thailand
                                                            option(value='TL') Timor-Leste
                                                            option(value='TG') Togo
                                                            option(value='TK') Tokelau
                                                            option(value='TO') Tonga
                                                            option(value='TT') Trinidad and Tobago
                                                            option(value='TN') Tunisia
                                                            option(value='TR') Turkey
                                                            option(value='TM') Turkmenistan
                                                            option(value='TC') Turks and Caicos Islands
                                                            option(value='TV') Tuvalu
                                                            option(value='UG') Uganda
                                                            option(value='UA') Ukraine
                                                            option(value='AE') United Arab Emirates
                                                            option(value='GB') United Kingdom
                                                            option(value='US') United States
                                                            option(value='UM') United States Minor Outlying Islands
                                                            option(value='UY') Uruguay
                                                            option(value='UZ') Uzbekistan
                                                            option(value='VU') Vanuatu
                                                            option(value='VE') Venezuela, Bolivarian Republic of
                                                            option(value='VN') Viet Nam
                                                            option(value='VG') Virgin Islands, British
                                                            option(value='VI') Virgin Islands, U.S.
                                                            option(value='WF') Wallis and Futuna
                                                            option(value='EH') Western Sahara
                                                            option(value='YE') Yemen
                                                            option(value='ZM') Zambia
                                                            option(value='ZW') Zimbabwe
                                                        i
                                                section(class='col-xs-4')
                                                    label(class='input')
                                                        input(type='text' name='distrito' placeholder='Distrito')
                                                section(class = 'col-xs-4')
                                                    label(class='input')
                                                        input(type='text' name='concelho' placeholder='Concelho')
                                                section(class='col-xs-3')
                                                    label(class='input')
                                                        input(type='text' name='codpost' placeholder='Codigo Postal' pattern='[0-9]{4}-[0-9]{3}$')
                                                section(class='col-xs-7')
                                                    label(class='input')
                                                        input(type='text' name='freguesia' placeholder='Freguesia')
                                                section
                                                    label(class='input')
                                                        input(type='text' name='morada' placeholder='Morada')
                                                section
                                                    label(class='textarea')
                                                        textarea(rows='3' name='info' placeholder='Informação Adicional')
                                            hr
                                            hr
                                            h2 Prazo de Entrega
                                            div(class='row')
                                                section(class='col-xs-4')
                                                    label(class='input')
                                                        input(type='date' name='dataentrega' id='dataentrega' onclick='updateStepsix()')
                                                    br
                                            hr
                                        section
                                            input(type='submit' class='btn btn-base btn-icon btn-icon-right pull-right' style='width: 200px;' value='Efectuar Encomenda')