extends layout

block content
    body 

        div(class='pg-opt')
            div(class='container')
                div(class='row')
                    div(class='col-md-6')
                        h2 Encomenda
                    div(class='col-md-6')
                        ol(class='breadcrumb')
                            li
                                a(href='/home') Home
                            li
                                a(href='/logout') Logout

        section(class='slice bg-white')
            div(class='wp-section')
                div(class='container')
                    nav
                        ol(class='progtrckr hidden-xs' data-progtrckr-steps='7')
                            li(class='progtrckr-done' id='step0') Inicio de Sessão
                            li(class='progtrckr-todo' id='step1') Definição
                            li(class='progtrckr-todo' id='step2') Preparação
                            li(class='progtrckr-todo' id='step3') Tinturaria
                            li(class='progtrckr-todo' id='step4') Acabamento
                            li(class='progtrckr-todo' id='step5') Embalagem
                            li(class='progtrckr-todo' id='step6') Prazos e Moradas
                    div(class='row')
                        div(class='wp-block default user-form')
                            div(class='form-body')
                                form(style="position:relative;z-index: 1;" action='/prodef' id='frmProdDef' class='sky-form' method='post' enctype='multipart/form-data')
                                    fieldset(class='no-padding')
                                        h1(style="display: none" name='defProduto' class="defProduto") Definição do Produto
                                        hr(style="display: none" name='defProduto' class="defProduto")
                                        h2(style="display: none" name="composicao" class="composicao") Composição
                                        div(style="display: none" class='row composicao' name="composicao" id="composicao")
                                            div(class='col-xs-6')
                                                div(class='form-group')
                                                    label(class='select')
                                                        select(name='CompNome' id='CompNome' onchange='compNome(), listaPonto(), containsPoli()')
                                                            option(value='0' selected='' disabled='') Nome
                                                            option(value='1') ANARRUG
                                                            option(value='2') BRIM
                                                            option(value='3') CAMBRAIA
                                                            option(value='4') CETIM
                                                            option(value='5') CHAMOI
                                                            option(value='6') CHARMEUS
                                                            option(value='7') CHENILL
                                                            option(value='8') CHIFFO
                                                            option(value='9') COTTO
                                                            option(value='10') CREP
                                                            option(value='11') CREPIN
                                                            option(value='12') CRETON
                                                            option(value='13') DIOLEN
                                                            option(value='14') ESCALIN
                                                            option(value='15') FELTR
                                                            option(value='16') FIL
                                                            option(value='17') FLANEL
                                                            option(value='18') FUSTÃ
                                                            option(value='19') GABARDIN
                                                            option(value='20') GAZA
                                                            option(value='21') GORGURÃ
                                                            option(value='22') JACQUAR
                                                            option(value='23') JEAN
                                                            option(value='24') JERSE
                                                            option(value='25') JUT
                                                            option(value='26') LAIS
                                                            option(value='27') LAM
                                                            option(value='28') LINHÃ
                                                            option(value='29') LINH
                                                            option(value='30') LOURE
                                                            option(value='31') MICROVISCOS
                                                            option(value='32') MICROFIBR
                                                            option(value='33') MICROTUL
                                                            option(value='34') MORI
                                                            option(value='35') MUSSELIN
                                                            option(value='36') NYLO
                                                            option(value='37') ORGANZ
                                                            option(value='38') OXFOR
                                                            option(value='39') PERCA
                                                            option(value='40') PIQUE
                                                            option(value='41') POPELIN
                                                            option(value='42') SARJ
                                                            option(value='43') SED
                                                            option(value='44') SHANTUN
                                                            option(value='45') TAC-TE
                                                            option(value='46') TAFET
                                                            option(value='47') TERGA
                                                            option(value='48') TIE-DY
                                                            option(value='49') TN
                                                            option(value='50') TRICOLE
                                                            option(value='51') TRICOLIN
                                                            option(value='52') TUNIL
                                                            option(value='53') TWEE
                                                            option(value='54') VELUDIN
                                                            option(value='55') VELUD
                                                            option(value='56') VISCOFAILL
                                                            option(value='57') VISCOS
                                                            option(value='58') VOI
                                                            option(value='59') AIRSTREC
                                                            option(value='60') DRY FI
                                                            option(value='61') ENERG
                                                            option(value='62') FORR
                                                            option(value='63') HELANC
                                                            option(value='64') LIGANE
                                                            option(value='65') LENAT
                                                            option(value='66') MALHA
                                                            option(value='67') MOLETO
                                                            option(value='68') TUL
                                                            option(value='69') VISCOLYC
                                            div(class='col-xs-6')
                                                div(class='form-group')
                                                    label(class='select')
                                                        select(name='composicao' id='CompComp' onchange='containsPoli()')
                                                            option(value='0' selected='' disabled='') Composição
                                        hr(style="display: none" name='defProduto' class="defProduto")
                                        hr(style="display: none" name="ponto" class="ponto")
                                        h2(style="display: none" name="ponto" class="ponto") Ponto
                                        div(style="display: none" name="ponto" class='row ponto')
                                            div(class='col-md-6')
                                                div(class='form-group')
                                                    label(class='select')
                                                        select(class="ponto" name='ponto' id='OpPonto')
                                                            option(value='0' selected='' disabled='') Ponto
                                        hr(style="display: none" name="ponto" class="ponto")
                                        hr(style="display: none" name="peso")
                                        h2(style="display: none" name="largurai" class="largurai") Peso, Largura e Quantidade
                                        div(style="display: none" name="largurai" class='row largurai')
                                            section(style="display: none" name="peso" class='col-xs-2 peso')
                                                label(class='input' name="peso") Peso do tecido
                                                    input(type='number' name='peso' placeholder='Peso')
                                                    p g/m
                                            section(style="display: none" name="largurai" class='col-xs-2 largurai')
                                                label(class='input' name="largurai") Largura inicial do tecido
                                                    input(type='number' name='largurai' placeholder='Largura Inicial' class="larguraii larguraif")
                                                    p m2
                                            section(style="display: none" name='larguraf' class='col-xs-2 larguraf')
                                                label(class='input' name='larguraf') Largura final do tecido
                                                    input(type='number' name='larguraf' placeholder='Largura Final' class="largurafi larguraff")
                                                    p(name="larguraf") m2

                                            section(style="display: none" name='quantidade' class='col-xs-4 quantidade')
                                                label(class='input' name='quantidade') Quantidade de Tecido a Trabalhar
                                                    input(type='text' name='quantidade' placeholder='Quantidade'  onchange='updateStepone()')
                                            section(style="display: none" name='quantidade' class='col-xs-1 quantidade')
                                                label(class='select' name='quantidade')
                                                select(name='quantidade' id='QuantUnit')
                                                                    option(value='0' selected='') T
                                                                    option(value='1') K
                                                                    option(value='2') g
                                                                    option(value='3') mg
                                        hr(style="display: none" name="peso" class="peso")
                                        hr(style="display: none" name="caderno" class="caderno")
                                        h2(style="display: none" name="caderno" class="caderno") Caderno de Encargos
                                        div(style="display: none" class='row caderno')
                                            section(class='textarea')
                                                label(class='textarea')
                                                    textarea(rows='3' name='caderno' placeholder='Informação Adicional')
                                        hr(style="display: none" name="caderno" class="caderno")
                                        hr(style="display: none" name="preparacao" class="preparacao")
                                        h2(style="display: none" name="preparacao" class="preparacao") Preparação
                                        div(style="display: none" name="preparacao" class='row preparacao')
                                            div(style="display: none" name="gasar" class='col-xs-3 gasar')
                                                label(class='checkbox') Gazar
                                                    input(type='checkbox' name='gasar'  onchange='updateSteptwo()')
                                                    i

                                            div(style="display: none" name="branquear" class='col-xs-3 branquear')
                                                label(class='checkbox') Branquear
                                                    input(type='checkbox' name='branquear' id='branquear'  onchange='updateSteptwo()')
                                                    i
                                                label(style="display: none" name='mb' id='mb' class='checkbox meiobranco') Meio Branco
                                                    input(class="meiobranco" type='checkbox' name='mb' id='meiobranco' disabled onchange='updateSteptwo()')
                                                    i
                                                label(style="display: none" name='b' id='b' class='checkbox branco') Branco
                                                    input(class="branco" type='checkbox' name='b' id='branco' disabled onchange='updateSteptwo()')
                                                    i
                                                label(style="display: none" name='lbe' id='lbe' class='checkbox be') BE
                                                    input(class="be" type='checkbox' name='lbe' id='be' disabled onchange='updateSteptwo()')
                                                    i

                                            div(style="display: none" name="lavar" class='col-xs-3 lavar')
                                                label(class='checkbox') Lavar
                                                    input(type='checkbox' name='lavar' id='lavar' onchange='updateSteptwo()')
                                                    i

                                            div(style="display: none" name="mercerizar" class='col-xs-3 mercerizar')
                                                label(class='checkbox') Mercerizar
                                                    input(type='checkbox' name='mercerizar' id='mercerizar' onchange='updateSteptwo()')
                                                    i

                                        hr(style="display: none" name="preparacao" class="preparacao")
                                        hr(style="display: none" name="tinturaria" class="tinturaria")
                                        h2(style="display: none" name="tinturaria" class="tinturaria") Tinturaria
                                        div(style="display: none" name="tinturaria" class='row tinturaria')
                                            div(style="display: none" name="reativos" class='col-xs-3 reativos' )
                                                label(class='checkbox') Reativo
                                                    input(type='checkbox' name='reativos' id='reativos'  onchange='updateSteptree()')
                                                    i
                                            div(style="display: none" name="cubas" class='col-xs-3 cubas')
                                                label(class='checkbox') Cuba
                                                    input(type='checkbox' name='cubas' id='cubas' onchange='updateSteptree()')
                                                    i
                                            div(style="display: none" name="pigmentos" class='col-xs-3 pigmentos')
                                                label(class='checkbox') Pigmentos
                                                    input(type='checkbox' name='pigmentos' id='pigmentos' onchange='updateSteptree()')
                                                    i

                                            div(style="display: none" name="reativosP" class='col-xs-3 reativosP' )
                                                label(class='checkbox') Reativo
                                                    input(type='checkbox' name='reativosP' id='reativosP'  onchange='updateSteptree()')
                                                    i
                                            div(style="display: none" name="cubasP" class='col-xs-3 cubasP')
                                                label(class='checkbox') Cuba
                                                    input(type='checkbox' name='cubasP' id='cubasP' onchange='updateSteptree()')
                                                    i
                                            div(style="display: none" name="pigmentosP" class='col-xs-3 pigmentosP')
                                                label(class='checkbox') Pigmentos
                                                    input(type='checkbox' name='pigmentosP' id='pigmentosP' onchange='updateSteptree()')
                                                    i
                                            div(style="display: none" name="dispersosP" class='col-xs-3 dispersosP')
                                                label(class='checkbox') Dispersos
                                                    input(type='checkbox' name='dispersosP' id='dispersosP' onchange='updateSteptree()')
                                                    i

                                        div(style="display: none" name="tinturaria" class='row tinturaria')
                                            section(class='col-xs-5')
                                                label(class='input') Panton
                                                    input(type='text' name='pantone' placeholder='Insira aqui o codigo do Pantone que quer aplicar como cor' onchange='updateSteptree')
                                        hr(style="display: none" name="tinturaria" class="tinturaria")
                                        hr(style="display: none" name="acabamentos" class="acabamentos")
                                        h2(style="display: none" name="acabamentos" class="acabamentos") Acabamentos
                                        div(style="display: none" class="acabamentos" class='row')
                                            div(style="display: none" name='secar' class='col-xs-2 secar')
                                                label(class='checkbox') Secar
                                                    input(type='checkbox' name='secar' id='secar' onchange='updateStepfor()')
                                                    i

                                            div(style="display: none" name='acabar' class='col-xs-2 acabar')
                                                label(name='acabar' class='checkbox') Acabar
                                                    input(type='checkbox' name='acabar' id='acabar' onchange='updateStepfor()')
                                                    i

                                            div(style="display: none" name='largura' class='col-xs-2 largura')
                                                label(name='largura' class='checkbox') Largura
                                                    input(type='checkbox' name='largura' onchange='updateStepfor()')
                                                    i

                                            div(style="display: none" name='calandar' class='col-xs-2 calandar')
                                                    label(name='calandar' class='checkbox') Calandar
                                                        input(type='checkbox' name='calandar' id='calandar' onchange='updateStepfor()')
                                                        i

                                                    label(style="display: none" name='q' id='cq' class='checkbox q') Q
                                                        input(class="q" style="display: none" type='checkbox' name='q' id='q' disabled onchange='updateStepfor()')
                                                        i

                                                    label(style="display: none" name='f' id='cf' class='checkbox f') F
                                                        input(class="f" style="display: none" type='checkbox' name='f' id='f' disabled onchange='updateStepfor()')
                                                        i

                                            div(style="display: none" name='sanforizar' class='col-xs-2 sanforizar')
                                                label(name='sanforizar' class='checkbox') Sanfonizar
                                                    input(type='checkbox' name='sanforizar' id='sanforizar' onchange='updateStepfor()')
                                                    i

                                            div(style="display: none" name='tumbler' class='col-xs-2 tumbler')
                                                label(name='tumbler' class='checkbox') Tumbler
                                                    input(type='checkbox' name='tumbler' id='tumbler' onchange='updateStepfor()')
                                                    i


                                        hr(style="display: none" name="acabamentos" class="acabamentos")
                                        hr(style="display: none" name="embalagem" class="embalagem")
                                        h2(style="display: none" name="embalagem" class="embalagem") Embalagem
                                        h4(style="display: none" name="enfestar" class="enfestar") Enfestar
                                        div(style="display: none" name="enfestar" class='row enfestar')
                                            div(style="display: none" name='em' class='col-xs-2 em')
                                                label(name='em' class='checkbox') EM
                                                    input(type='checkbox' name='em' id='em' onchange='updateStepfiv()')
                                                    i
                                            div(style="display: none" name='ei' class='col-xs-2 ei')
                                                label(name='ei' class='checkbox') Ei
                                                    input(type='checkbox' name='ei' id='ei' onchange='updateStepfiv()')
                                                    i

                                            div(style="display: none" name='rm' class='col-xs-2 rm')
                                                label(name='rm' class='checkbox') RM
                                                    input(type='checkbox' name='rm' id='rm' onchange='updateStepfiv()')
                                                    i

                                            section(style="display: none" name='quantenf' class='col-xs-4 quantenf')
                                                label(name='quantenf' class='input')
                                                    input(type='number' name='quantenf' placeholder='metros por peça'  min='1' onchange='updateStepfiv()')
                                                    i

                                        h4(style="display: none" name="enrolar" class="enrolar") Enrolar
                                        div(style="display: none" name="enrolar" class='row enrolar')
                                            section(style="display: none" name='quantenr' class='col-xs-4 quantenr')
                                                label(name='quantenr' class='input')
                                                    input(type='number' name='quantenr' placeholder='metros por peça'  min='1' onchange='updateStepfiv()')
                                                    i
                                        hr(style="display: none" name="embalagem" class="embalagem")
                                        hr
                                        h2 Prazo de Entrega
                                        div(class='row')
                                            section(class='col-xs-4')
                                                label(class='input')
                                                    input(type='date' name='dataentrega' id='dataentrega' onclick='updateStepsix()')
                                                br
                                        hr
                                    section
                                        input(type='submit' class='btn btn-base btn-icon btn-icon-right pull-right' style='width: 200px;' value='Efectuar Encomenda')

        script.
            $('#branquear').click(function () {
                $('#mb').toggle();
                $('#meiobranco').toggle();
                $('#b').toggle();
                $('#branco').toggle();
                $('#lbe').toggle();
                $('#be').toggle();
            });
            $('#calandar').click(function () {
                $('#cq').toggle();
                $('#q').toggle();
                $('#cf').toggle();
                $('#f').toggle();
            });
            $(document).ready(function () {
                var steps = !{JSON.stringify(dataSteps)};
                var servs = !{JSON.stringify(dataServs)};
                var opts = !{JSON.stringify(dataOpts)};
                for (var k=0;k<steps.length;k++)
                    $( "."+steps[k].DESCRIPTION ).show( "fast" );
                for (var j=0;j<servs.length;j++)
                    $( "."+servs[j].DESCRIPTION ).show( "fast" );
                for (var l=0;l<opts.length;l++)
                    if (opts[l].id_OPTION==1 || opts[l].id_OPTION==3) {
                        $("." + opts[l].DESCRIPTION).attr("min", opts[l].VALOR)
                    }
                    else if (opts[l].id_OPTION == 2 || opts[l].id_OPTION == 4) {
                        $("." + opts[l].DESCRIPTION).attr("max", opts[l].VALOR)
                    }
                    else if ( opts[l].id_OPTION>=5 && opts[l].id_OPTION<=9) {
                        $("." + opts[l].DESCRIPTION).removeAttr("disabled");
                    }
                    else  {
                        $( "."+opts[l].DESCRIPTION ).show( "fast" );
                    }
            });
