@charset "UTF-8";


/*formatção de imagens*/
figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    width: 160px;
    height: 160px;
    box-shadow: 1px 1px 4px black;
    margin-bottom: 10px;
}

figure.foto-legenda img{
    width: 150px;
    height: 150px;
    padding: 30px;
}
.inical-page{
    background-image: url('../../images/index.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;

}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height:100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}


#palheta td {
    height: 20px;
    width: 20px;
    display: block;
    float: left;
    margin: 1px;
}
#amarelo {
    background-color: #ff0;
}
#vermelho {
    background-color: #f00;
}
#verde {
    background-color: #0f0;
}
#azul {
    background-color: #00f;
}
#azulClaro {
    background-color: #0ff;
}
#roxo {
    background-color: #f0f;
}

ul#imagem{
    width: 700px;
    margin: 0px;
    padding: 20px;
    overflow: hidden;
    list-style: none;
}


ul#imagem li:not(.test){
    float: left;
    width: 170px;
    height: 170px;
    margin: 5px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

ul:not(.test) {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a:not(.test) {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active:not(.test) {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active .test) {
    background-color: #555;
    color: white;
}

.fotoContainer {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgba(209, 238, 238, 0.5);
}

figure.myfigure{
    position: relative;
    border: 8px solid white;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 4px black;
    margin-bottom: 10px;
}

figure.myfigure img{
    width: 185px;
    height: 185px;
}

figure.myfigure figcaption label input[type="file"] {
    display: none;

}

figure.myfigure figcaption{
    opacity: 0;
    position: absolute;
    top: -8px;
    left: -8px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 110%;
    height:110%;
    padding: 6px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.myfigure:hover figcaption{
    opacity: 1;
}





