extends layout
block content
    .wrapper
        .container
            .row
                include menu
                .span5
                    .content
                        .module
                            a(href='./clients')
                                .module-head
                                    h3
                                        | Todos os clientes
                            .module-body.table
                                    table#example.datatable-1.table(cellpadding='0', cellspacing='0', border='0', width='100%', aria-describedby='DataTables_Table_0_info', style='width: 100%;')
                                        thead(style="display: none")
                                            tr
                                                th Clientes
                                                th Cilentes
                                        tbody
                                            -for(var j=0,a=0; j <dataGet.length/2;j++,a++)
                                                tr
                                                    -for(var k=0; k<2; k++)
                                                        td
                                                            -var tamanho = dataGet.length/2
                                                            if !(j == parseInt(tamanho) && k == 1 && dataGet.length % 2 != 0)
                                                                div( class="media user")
                                                                    div( class="media-body")
                                                                        h3(class="media-title" style="text-align: center;")=dataGet[j+k+a].NAME
                                                                        p( style="text-align: center;")
                                                                            small( class="muted" )=dataGet[j+k+a].COUNTRY
                                                                            div( class="media-option btn-group shaded-icon pull-right")
                                                                                button( class="btn btn-small")
                                                                                    i( class="icon-envelope" )
                                                                                button( class="btn btn-small")
                                                                                    i( class="icon-share-alt")
                .span4
                        .content
                            .module.message
                                a(href='./tasks')
                                    .module-head
                                        h3 Gest&atilde;o de Clientes
                                .module-option.clearfix
                                    .pull-left
                                        | Filter : &nbsp;
                                        .btn-group
                                            button.btn Todas
                                            button.btn.dropdown-toggle(data-toggle='dropdown')
                                                span.caret
                                            ul.dropdown-menu
                                                li
                                                    a(href='#') Todas
                                                li
                                                    a(href='#') Por ver
                                                li
                                                    a(href='#') Feita
                                                li.divider
                                .module-body.table
                                    table.table.table-message(style='display: flex; flex-direction: column; height: 450px;width: 100%;')
                                        tbody(style='overflow-y: auto')
                                            tr.heading(style='flex-shrink: 0')
                                                td.cell-icon
                                                td.cell-title Task
                                                td.cell-status.hidden-phone.hidden-tablet Status
                                            tr.task
                                                td.cell-icon
                                                    i.icon-checker.high
                                                td.cell-title
                                                    div
                                                        | Lorem ipsum dolor sit et, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloremagna cliqua.
                                                td.cell-status.hidden-phone.hidden-tablet
                                                    b.due Por Ver
                                            tr.task.resolved
                                                td.cell-icon
                                                    i.icon-checker.high
                                                td.cell-title
                                                    div
                                                        | Lorem ipsum dolor sit et, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                td.cell-status.hidden-phone.hidden-tablet
                                .module-foot(style='flex-shrink: 0;')
                        // /.content
            // /.container
        // /.wrapper
