extends layout

block content
    div(class="wrapper")
        div( class="container")
            div(class="row")
                include menu.pug
                div( class="span9")
                    div( class="content")
                        div( class="btn-controls")
                            div( class="btn-box-row row-fluid")
                                a(class="btn-box big span4")
                                    i(class="icon-random")
                                    b 65%
                                    p(class="text-muted") Crescimento
                                a(class="btn-box big span4")
                                    i(class="icon-user")
                                    b 15
                                    p(class="text-muted") Novos Clientes
                                a(class="btn-box big span4")
                                    i(class="icon-shopping-cart")
                                    b 40
                                    p(class="text-muted") Encomendas

                            div( class="btn-box-row row-fluid")
                                div( class="span8")
                                    div( class="row-fluid")
                                        div( class="span12")
                                            a(href="message.pug" class="btn-box small span4")
                                                i( class="icon-envelope")
                                                b Mensagens
                                            a(href="/clients.pug" class="btn-box small span4")
                                                i(class="icon-group")
                                                b Clientes
                                            a(href="#" class="btn-box small span4")
                                                i(class="icon-exchange")
                                                b Encomendas
                                div( class="span4")
                                    a(href="task.html" class="btn-box small span12")
                                        i( class= "icon-exclamation-sign")
                                        b Tem 19 tarefas por ver

                            div( class="btn-box-row row-fluid")
                                div( class="module")
                                    div( class="module-head")
                                        h3 Numero de Encomendas
                                    div( class="module-body")
                                        div( class="chart inline-legend grid")
                                            div( id="placeholder2" class="graph" style="height: 500px")

