div(class="span3")
    div(class="sidebar")
        ul(class="widget widget-menu unstyled")
            li( class="active")
                a(href="./")
                    i(class="menu-icon icon-dashboard")
                    | Dashboard
            li
                a(href="./messages")
                    i(class="menu-icon icon-inbox")
                    | Mensagens
                    b(class="label green pull-right") 11
            li
                a(href="./gesClients")
                    i(class="menu-icon icon-user")
                    | Gestão de Clientes
                    b(class="label orange pull-right") 19

        ul(class="widget widget-menu unstyled")
            li
                a(href="#")
                    i(class="menu-icon icon-book")
                    | Gestão de Serviços
            li
                a(href="#")
                    i(class="menu-icon icon-paste")
                    | Gestão de Conta
