extends layout
block content
    .span9
        .content
            .module
                .module-head
                    h3 Mensagem
                .module-body
                    button(class="btn" type="submit")
                        i.icon-star
                    div(style="width:8px; height:auto; display:inline-block;")
                    button(class="btn" type="submit")
                        i.icon-trash
                    div(style="width:8px; height:auto; display:inline-block;")
                    button(class="btn" type="submit")
                        i.icon-share-alt
                    br
                    br
                    p ASSUNTO
                    p EMAIL DATA
                    p TEXTO