extends layout
block content
    .span9
        .content
            .module
                .module-head
                    h3 Encomenda
                .module-body
                    -var array = [];
                    -var array2 = [];
                    -for(var i=0; i<steps.length; i++)
                        h2 #{steps[i]}
                        -array = stepService.get(steps[i]);
                        -for(var k=0; k<array.length;k++)
                            p #{array[k]}
                            -var option
                            -if(array[k].indexOf(':')!=-1)
                                -service = array[k].slice(0,array[k].indexOf(':'))
                                -array2 = serviceOption.get(service);
                                -if(array2!=null)
                                    -for(var j=0; j<array2.length;j++)
                                        p #{array2[j]}
                            -else
                                -service = array[k];
                                -array2 = serviceOption.get(service);
                                -if(array2!=null)
                                    -for(var j=0; j<array2.length;j++)
                                        p ->#{array2[j]}
